[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/windowsagent/Desktop/FL Studio Producer Edition 12.4.2 + Keygen - Crackingpatching.com]
row=2
col=17

[/home/windowsagent/Desktop/FL Studio Producer Edition 12.4.2 + Keygen - Crackingpatching.com.zip]
row=3
col=17

[E61A13E71A13B411]
row=4
col=0

[2a12e6e5-0f13-4d60-b043-8cd4d1f60899]
row=0
col=0

[3092-06B8]
row=3
col=0

[BCF8200EF81FC614]
row=5
col=0

[/]
row=1
col=0

[/home/windowsagent]
row=2
col=0

