[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/windowsagent/Desktop/Setup.exe]
row=3
col=16

[/home/windowsagent/Desktop/LameXP.2019-12-18.Release-Static.Build-2240.exe]
row=4
col=16

[E61A13E71A13B411]
row=4
col=0

[Files]
row=1
col=16

[2a12e6e5-0f13-4d60-b043-8cd4d1f60899]
row=2
col=16

[Data]
row=0
col=16

[/home/windowsagent]
row=2
col=0

[/]
row=1
col=0

