[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/windowsagent/Desktop/Frases_1(1).docx]
row=3
col=0

[7e91f62d-04cd-4cbf-93a8-107a50033f53]
row=0
col=0

[/]
row=1
col=0

[/home/windowsagent]
row=2
col=0

