[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Amazon WorkSpaces
Exec="com.amazon.workspacesclient"
Icon=com.amazon.workspacesclient
Terminal=false
MimeType=x-scheme-handler/workspaces;
Categories=Network;RemoteAccess;
Keywords=workspaces;remote;amazon;aws;
StartupWMClass=workspacesclient
